
<h1>
    Custom VR Configuration
</h1>

<ul class="headsets">
    <li>
        <div class="image-container-vr">
          <img [src]="imagePathQuest3" alt="MetaQuest3">
        </div>

        <div>
            <span class = "name" >Name: </span>
            <input type="text" [(ngModel)]="headset.name">
        </div>


        <div>
            <span>IpAddress: </span>
            <input type="text" [(ngModel)]="headset.ipAddress">

        </div>

        <div>
            <span>Port: </span>
            <input type="text" [(ngModel)]="headset.port">
        </div>

        <div>
            <!--We aply the select class to this item, whenever === --->
            <span>Status: {{ headset.isOnline }}</span>    
        </div>

        <div class="image-container">
            <button (click)="sendDownloadAssetsOSC()">
                <img [src]="imagePathDownload" alt="Click here to download VRHeadset assets">
            </button>
        </div>

        
    </li>
</ul>
