<h1>Toggle Experience: </h1>

<ul class="toggleButtons">
        <li>
            <button (click)="sendOSC('Stop')">
                <img [src]="imagePathStop" alt="Click here to Stop the experience to all executing VRHeadsets.">
            </button>
        </li>
        <li>
            <button (click)="sendOSC('Play')">
                <img [src]="imagePathPlay" alt="Click here to Start the experience to all ready VRHeadsets.">
            </button>
        </li>
        <li>
            <button (click)="sendOSC('Restart')">
                <img [src]="imagePathRestart" alt="Click here to Restart the experience to all executing VRHeadsets.">
            </button>
        </li>
</ul>