.toggleButtons {
    display: flex;
    list-style-type: none; /* Remove the default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.toggleButtons li {
  background-color: #ffffff; /* Background color for the list items */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-right: 10px; /* Space between buttons */
  border-radius: 10px;
  overflow: hidden; /* Ensures rounded corners contain child elements */
  position: relative; /* Positioning context for absolute children */
}

.toggleButtons button {
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  padding: 0; /* Remove default button padding */
  cursor: pointer; /* Change cursor to pointer on hover */
  padding-left: 15%;
}

.toggleButtons img {
  width: 60px; /* Set a fixed width for the buttons */
  height: 60px; /* Set a fixed height for the buttons */
}


.toggleButtons li:last-child {
    margin-right: 0; /* Remove the margin from the last item */
}
  
.toggleButtons li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.toggleButtons li:active {
  background-color: #525252;
  color: #fafafa;
}

.toggleButtons li.selected {
  background-color: black;
  color: rgb(255, 0, 0);
  
}

.toggleButtons li.selected:hover {
  background-color: #505050;
  color: white;
}

.toggleButtons li.selected:active {
  background-color: black;
  color: white;
}
  