
<h1>Connect the XR devices here: </h1>


<ul class="headsets">
    <li *ngFor="let headset of (vrHeadsetsFromService | async)" [ngClass]="getVRHeadsetStatusClass(headset.status)">
        <!--
            Subscribe ou Async fazem "execute" no Observable.
            Async faz tudo por mim. Faz Subscribe e o Unsubscribe quando o component vai desaparecer.
            Como usamos Async nao é necessario o onDestroy.
        -->
            
        <button *ngIf="!headset.isInEditMode" class="image-container-button-settings" (click)="onEditingHTMLOfVRHeadset(headset)">
            <img [src]="imagePathSettings" alt="Click here to edit this VrHeadset">
        </button>

        <button *ngIf="headset.isInEditMode" class="image-container-button-settings" (click)="headset.isInEditMode = false">
            <img [src]="imagePathSettings" alt="Click here to edit this VrHeadset">
        </button>

        <div class="image-container-vr">
            <img [src]="headset.status === 'offline' || headset.status === 'error'? imagePathQuest3Grey : imagePathQuest3" alt="MetaQuest3">
        </div>

        <div class="vrinfo1" *ngIf="headset.isInEditMode">
            <div class="name">
                <input type="text" [(ngModel)]="headset.name">
            </div>
            <div class="ipAddress">
                <input type="text" [(ngModel)]="headset.ipAddress">
            </div>
        </div>

        <div class="vrinfo1" *ngIf="!headset.isInEditMode">
            <div class="name">
                <span>{{ headset.name }}</span>
                <span class="status">{{ headset.status }}</span>
            </div>
            <div class="ipAddress">
                <span>{{ headset.ipAddress }}</span>
            </div>
        </div>

        <button *ngIf="headset.isInEditMode" class="image-container-button" (click)="updateVRHeadset(headset)">
            Confirm
        </button>
        <button *ngIf="headset.isInEditMode" class="image-container-button" (click)="deleteVRHeadset(headset)">
            Delete
        </button>

    </li>
</ul>
    
<div>
    <div *ngIf="isUserAddingNewVRHeadset">
        <li>
            <form (ngSubmit)="addVRHeadset()">
                <div class="vrinfo1">
                    <label for="ipAddress">IP Address:</label>
                    <input type="text" id="ipAddress" [(ngModel)]="newHeadset.ipAddress" name="ipAddress" required>
                
                    <label for="name">Device Name:</label>
                    <input type="text" id="name" [(ngModel)]="newHeadset.name" name="name" required>         
                </div>

                <button class="image-container-button" (click)="isUserAddingNewVRHeadset = false">
                    Cancel
                </button>
                
                <button class="image-container-button" type="submit">
                    Add VR Headset
                </button>
            </form>
        </li>
    </div>

    <div class= "container-for-addButton-and-switch">
        <img *ngIf="!isUserAddingNewVRHeadset" 
            (click)="isUserAddingNewVRHeadset = true" 
            class="image-container-button-add" 
            [src]="imagePathAdd" 
            alt="Click here to add a new VRHeadset to the DataBase.">
        
    </div>
</div>