<!--
<h1> {{ vrinfo1.name }} Headset added</h1>


<div>
    <label for="">Name: </label>
    <input type= "text" [(ngModel)] ="vrinfo1.name"> Two way data-binding
    <br>
    <label for="">IpAdress: </label>
    <input type= "text" [(ngModel)] ="vrinfo1.ipAdress"> 
    <br>
    <label for="">Port: </label>
    <input type= "text" [(ngModel)] ="vrinfo1.port"> 
    <br>
    <label for="">Status: </label>
    <input type= "text" [(ngModel)] ="vrinfo1.currentStatusEnum"> 

    <br>
    <button (click)="sendOSC()"> Click me for OSC Message to {{ vrinfo1.name }}</button>

</div>
-->

<h1>Saved VR List</h1>

<ul class="headsets">
    <li *ngFor="let headset of headsetsList" [ngClass]="{'isOnline': headset.isOnline}">
        
        <div class="image-container-button-settings">
            <button>
                <img [src]="imagePathSettings" alt="Click here to download VRHeadset assets">
            </button>
        </div>

        <div class="image-container-vr">
          <img [src]="headset.isOnline ? imagePathQuest3 : imagePathQuest3Grey" alt="MetaQuest3">
        </div>

        <div class="vrinfo1">
            <div class="name">
                <span>{{ headset.name }}</span>
            </div>
            
            <div class="ipadress">
                <span>{{ headset.ipAddress }}</span>
            </div>
        
        </div>
        <div class="vrinfo2">
            <div class="port">
                <span>{{ headset.port }}</span>
            </div>
    
            <div class="status">
                <span>{{ headset.isOnline }}</span>    
            </div>
        </div>

        <div class="image-container-button">
            <button (click)="sendDownloadAssetsOSC(headset)">
                <img [src]="imagePathUpload" alt="Click here to download VRHeadset assets">
            </button>
        </div>
    </li>


Log: 
<div> {{data$ | async | json}} </div>  
</ul>