/* HeroesComponent's private CSS styles */
.headsets {
  margin: 2%;
  list-style-type: none;
  padding: 0;
  max-width: 1000px; /* Ensure the container doesn't get bigger then 1200px */
}

.headsets li { /*Standard: Headset is offline*/
  color: #868686;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden; /* Ensures rounded corners contain child elements */
  margin-bottom: 1em; /* Adds space between list items */
  position: relative; /* Ensure positioning context for absolute children */

  /*Code to make all flex-containers centered*/
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Centers divs vertically. Flex Y coordinate value for the containers inside it*/

  box-shadow: 0px 4px 5px rgb(0, 0, 0, 25%); /* Shadow with: right, bottom, blur, color and alpha*/
}

.headsets .offline-class .status{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.headsets .online-class .status{
  color: rgb(47, 255, 0); 
  font-weight: bold; 
}

.headsets .ready-class .status{
  color: rgb(255, 106, 0); 
  font-weight: bold; 
}

.headsets .error-class .status{
  color: rgb(255, 0, 0);
  font-weight: bold; 
}

.headsets .running-experience-class .status{
  color: rgb(102, 0, 255);
  font-weight: bold; 
}

/* css for upload button */
.image-container-button {

  background-color: #D9D9D9; /* Background color for the list items */
  border-radius: 10px;
  padding: 1%;
  margin: 2%;
  margin-right: 3%;
  margin-left: auto;  /* Push button to the far-right */


  cursor: pointer; /* Change cursor to pointer on hover */
  box-shadow: 0px 4px 5px rgb(0, 0, 0, 25%); /* right, bottom, blur, color and alpha*/
}

.image-container-button:hover {
  background-color: #BCBCBC;
}

.image-container-button:active {
  background-color: #525252;
}

.image-container-button button {
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  padding: 0; /* Remove default button padding */
  /* CSS Center Guide*/
  display: block;
  margin: auto;  
}

.image-container-button img {
  width: 45px; /* Set a fixed width for the buttons */
  height: 45px; /* Set a fixed height for the buttons */
  /* CSS Center Guide*/
  display: block;  
  margin: auto;
}

/* css for settings button */
.image-container-button-settings {
  background-color: #D9D9D9; /* Background color for the list items */
  border-radius: 10px;
  padding: 1%;
  margin-left: 3%;
  cursor: pointer; /* Change cursor to pointer on hover */
  box-shadow: 0px 4px 5px rgb(0, 0, 0, 25%); /* right, bottom, blur, color and alpha*/
}

.image-container-button-settings:hover {
  background-color: #BCBCBC;
}

.image-container-button-settings:active {
  background-color: #525252;
}

.image-container-button-settings button {
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  padding: 0; /* Remove default button padding */
  /* CSS Center Guide*/
  display: block;
  margin: auto;  
}

.image-container-button-settings img {
  width: 25px; /* Set a fixed width for the buttons */
  height: 25px; /* Set a fixed height for the buttons */
  /* CSS Center Guide*/
  display: block;  
  margin: auto;
}


/* css for VR images */
.image-container-vr {
  top: 0; /* Align to the top of the parent li */
  left: 0; /* Align to the left of the parent li */
  width: 8%; /* Changes width compared to parent li */
  height: 8%; /* Changes width compared to parent li */
  display: flex;
  padding: 1em;
}
.image-container-vr img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ensures the image fits within the container */
}