
<h1>Saved VR List</h1>

<ul class="headsets">
    <li *ngFor="let headset of headsetsList" [ngClass]="getStatusClass(headset.status)">
        
        <div class="image-container-button-settings">
            <button>
                <img [src]="imagePathSettings" alt="Click here to download VRHeadset assets">
            </button>
        </div>

        <div class="image-container-vr">
          <img [src]="headset.isOnline ? imagePathQuest3 : imagePathQuest3Grey" alt="MetaQuest3">
        </div>

        <div class="vrinfo1">
            <div class="name">
                <span>{{ headset.name }}</span>
            </div>
            
            <div class="ipadress">
                <span>{{ headset.ipAddress }}</span>
            </div>
        
        </div>
        <div class="vrinfo2">
            <div class="port">
                <span>{{ headset.port }}</span>
            </div>
    
            <div class="status">
                <span>{{ headset.status }}</span>    
            </div>
        </div>

        <div class="image-container-button">
            <button (click)="sendDownloadAssetsOSC(headset)">
                <img [src]="imagePathUpload" alt="Click here to download VRHeadset assets">
            </button>
        </div>
    </li>


Log: 
<div> {{data$ | async | json}} </div>  
</ul>

  
<h2>Add a New VR Headset</h2>
<form (ngSubmit)="addVRHeadset()">
    <label for="ipAddress">IP Address:</label>
    <input type="text" id="ipAddress" [(ngModel)]="newHeadset.ipAddress" name="ipAddress" required>
    <br>
    <label for="port">Port:</label>
    <input type="text" id="port" [(ngModel)]="newHeadset.port" name="port" required>
    <br>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="newHeadset.name" name="name" required>
    <br>
    <button type="submit">Add VR Headset</button>
</form>
  